<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>batches</title>
    <center>
        <caption><u>BATCHES</u></caption><br>
        <thead>Upcoming Batches of Courses around the Globe</thead><br><br>
    </head>
    </center>

<body>
    <body>
        <div class="container"></div>
        <form action="https://pyspiders.com/batches" type="GET">
            <label for="name"> subject:</label>
            <input type="text" id="subject" name="subject" placeholder=" search by subject..">
            <label for="course"> course:</label>
            <input type="text" id="course" name="course" placeholder=" search by course..">
            <label for="name"> batch date:</label>
            <input type="date" id="date" name="branch date" placeholder=" search by branch date..">
            <label for="name"> branch:</label>
            <input type="text" id="branch" name="branch" placeholder=" search by branch..">
            <input type="reset" value="reset"><br><br>
            <label for="name"> Total number of batches:</label>
            <select>
                <option>....select...</option>
                <option>fast track</option>
                <option>python</option>
            </select><br><br>
            <center>
                <tfoot>batch not available?<br>
                    We do undertake Special and Fast-track Batches, please contact us at <label for ="email" value="email"></label>{{email}}:</tfoot>
            </center>
      </div>
    
</body>
</html>